@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
  display: none;
}

.view-menu{
    width: 300px;
    height: 300px;
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));;
}

.card-horizontal {
    display: flex;
}

.menu-img{
    width: 200px;
    height: 200px;
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,.8));
}
.mt-5{
    margin-top: 10% !important;
}

.qty{
    width: 150px;
}